@use '../abstracts' as *;

.header {
  margin-block: clamp(2rem, 4vw, 3rem);
  margin-inline: 1rem; // 1.75rem

  @media only screen and (min-width: $bp-sm) {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 2rem;
  }

  @media only screen and (min-width: $bp-md) {
    padding-inline: 0;
  }
}

.site-logo {
  display: block;
  --logo-color: $clr-neutral-100;
  stroke: $clr-neutral-100;
}