$ff-primary: 'Rubik', sans-serif;

$fw-regular: 400;
$fw-semi-bold: 500;

// Font Sizes
$fs-300: 0.875rem; // 14px
$fs-350: 0.9375rem; // 15px
$fs-400: 1rem;
$fs-500: 1.125rem; // 18px


$fs-base: 1.125rem;